$font-family-sans-serif: 'Lato', sans-serif;

$bg-card: #fff;
$bg-card-header: #ced2d8;
$bg-card-footer: #f6f7f8;
$body-bg: #ebedef;
$body-color: #3c4b64;

$enable-rtl: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-caret: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: false;
$enable-validation-icons: true;
$enable-deprecation-messages: false;
