.pagination{
    justify-content: center;
}

.no-image{
    font-size: 4.3rem;
}

.bd-placeholder-img{
    text-anchor: middle;
    user-select: none;
}

.db-empty{
    @extend .pl-4, .p-2, .mb-0, .text-center, .pb-4;
}
