.card{
    border: none !important;
    background: $bg-card;

    .card-header{
        border-bottom: none !important;
        background: $bg-card-header;
    }

    .card-footer{
        border-top: none !important;
        background: $bg-card-footer;
    }
}
